@model IEnumerable<TestApp.Models.Facility>
@{
    ViewData["Title"] = "Facilities";
}

<div class="text-center">
    <h1 class="display-4">All facilities:</h1>
    <table>
        <tr>
            <td>Name</td>
            <td>Address</td>
            <td>Phone</td>
            <td>Email</td>
            <td>Status</td>
            <td></td>
        </tr>
        @foreach (var facility in Model)
        {
    <tr>
        <td>@facility.Name</td>
        <td>@facility.Address</td>
        <td>@facility.PhoneNumber</td>
        <td>@facility.Email</td>
        <td>@facility.FacilityStatusId</td>
        <td><a href="~/Home/Edit/@facility.FacilityId">Edit</a></td>
        <td><a href="~/Home/Remove/@facility.FacilityId">Remove</a></td>
    </tr>
        }
    </table>
</div>
